.accordion-container {

    border-radius: 1rem;
    box-shadow: var(--drop-shadow);
    /* border:1rem solid var(--text-light); */
    max-width: 40rem;
    background-color: var(--white);

}

.accordion {
    /* border-top: 0.0625rem solid var(--text-light); */
    border-bottom: 0.0625rem solid var(--text-light);
    /* background-color: var(--white); */
    /* border-radius: 0.5rem; */
    /* box-shadow: var(--drop-shadow); */
    /* margin: 1rem auto; */
    /* box-sizing: border-box; */
    /* margin: 0 auto; */
}

.accordion:last-child {
    /* border-bottom: 0.0625rem solid var(--text-light); */
    border: none;
}



.accordion button {
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    border: none;
    /* border: 0.0625rem solid var(--text); */
    /* border-radius: 1rem; */
    outline: none;
    display: flex;
    cursor: pointer;
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
    position: relative;
    padding-left: 4rem;
    text-align: left;
}

/* .accordion:has(button:hover), */
.accordion button:hover {
    color: var(--primary);
    /* background-color: var(--background-dark); */
    /* border-radius: 1rem 1rem 0 0    ; */
}

.accordion button span::after {
    font-weight: normal;
    content: "+";
    position: absolute;
    left: 2rem;
    top: 50%;
    /* top: 1.5rem; */
    transform: translateY(-50%);
    color: var(--primary);
    transition: transform 0.2s;
    font-size: 1.5rem;
}

.accordion button[aria-expanded="true"] span::after {
    content: "−";
}

.accordion button:focus {
    box-shadow: var(--focus-indicator-inset);
}

.accordion-content {
    margin: 0 2rem;
    /* padding-bottom: 1rem; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordion-content img {
    width: 100%;
    max-width: 40rem;
    margin: 2rem 0;
}

.accordion-content .product-screenshots {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}



.accordion-content.open {
    /* No need to set max-height here, handled inline */
    padding-bottom: 2rem;
}