.accordion-container {

    border-radius: 1rem;
    box-shadow: var(--drop-shadow);
    max-width: 40rem;
    background-color: var(--white);
}

.dark-mode .accordion-container {
    background-color: var(--text);
    border: 0.0625rem solid var(--text-light);
}

.accordion {
    border-bottom: 0.0625rem solid var(--text-light);
}


.accordion:last-child {
    border: none;
}



.accordion button {
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
    position: relative;
    padding-left: 4rem;
    text-align: left;
}

.dark-mode .accordion button {
    color: var(--text-light);
}

.accordion button:hover {
    color: var(--primary);
}

.dark-mode .accordion button:hover {
    color: var(--yellow);
}

.accordion button span::after {
    font-weight: normal;
    content: "+";
    position: absolute;
    left: 2rem;
    top: 50%;
    /* top: 1.5rem; */
    transform: translateY(-50%);
    color: var(--primary);
    transition: transform 0.2s;
    font-size: 1.5rem;
}

.dark-mode .accordion button span::after {
    color: var(--yellow);
}

.accordion button[aria-expanded="true"] span::after {
    content: "−";
}

.accordion button:focus {
    box-shadow: var(--focus-indicator-inset);

}

.accordion-content {
    margin: 0 2rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.accordion-content img {
    width: calc(100% - 0.125rem);
    max-width: 40rem;
    margin: 2rem 0;
    border: 0.0625rem solid var(--text-light);
    /* z-index: 100; */
}

.accordion-content .product-screenshots {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 1rem;
}

.accordion-content .product-screenshots img {
    margin: 0;

}



.accordion-content.open {
    padding-bottom: 2rem;
}

@media (max-width: 568px) {
    .accordion button {
        /* padding: 2rem 1rem; */
        padding-left: 3rem;

    }

    .accordion button span::after {
        left: 1.5rem;
    }

    .accordion-content {
        margin: 0 1rem;
    }

    .accordion-content .product-screenshots {
        grid-template-columns: 1fr;
    }
}