.breadcrumbs {
    max-width: var(--page-width);
    margin: 2rem auto;
    color: var(--red);;
    padding: 0 1rem;
}

.dark-mode .breadcrumbs {
    color: var(--yellow);

}

.breadcrumbs a {
    color: var(--red);
}

.dark-mode .breadcrumbs a {
    color: var(--yellow);
}


.breadcrumbs ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.breadcrumbs-separator{
    margin: 0 0.5rem;
}

.breadcrumbs-last{
    /* font-weight: bold; */
}