.card-wrapper{
    border: var(--text) 0.0625rem solid;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgba(26, 26, 26, 0.2);
    /* transition: all 0.1s ease-in-out; */
}

.card-wrapper:hover{
    background-color: var(--background);
}

a.card-title{
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
}

a.card-title:focus{
    text-decoration: underline;
    box-shadow: none;
}

.card-wrapper:has(a.card-title:focus){
    box-shadow: 0 0 0 0.25rem var(--white), 0 0 0 0.5rem var(--primary);
}

.card-wrapper:hover a.card-title{
    text-decoration: underline;
}


.card-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}