.case-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--drop-shadow);

}

.case-card:hover {
    background-color: var(--background-dark);
}

.case-card a.headings {
    text-decoration: none;
    color: var(--text);

}


.card-text{
    margin: 1.5rem;
}

.case-card:hover a {
    text-decoration: underline;
    color: var(--primary);
}

.case-card a:focus {
    outline: none;
    /* box-shadow: var(--focus-indicator); */
    box-shadow: none;
    text-decoration: underline;
    color: var(--primary);
}


.case-card:has(a:focus) {
    box-shadow: var(--focus-indicator);
    /* text-decoration: underline; */
}

.case-card-thumbnail {
    width: 100%;
    max-width: 16rem;
    aspect-ratio: 1 / 1;
    object-fit:cover;
    border-radius: 0.5rem;
    margin: 2rem;
}



.read-more-link {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}

.case-card:hover .read-more-link {
    text-decoration: underline;
}

@media (max-width: 568px) {
    .case-card {
        flex-direction: column;
        align-items: left;
    }

    .case-card-thumbnail {
        /* max-width: 80%; */
        /* padding: 1rem; */
        /* margin: 1rem; */
    }

    .card-text {
        margin: 1rem;
    }
}