footer {
    /* background-color: var(--primary); */
    /* border-top: 0.25rem solid var(--text-light); */

    /* margin-top: 2rem; */
    padding-bottom: 3rem;
    border-bottom: 0.25rem solid var(--yellow);

}

.dark-mode footer {
    border-bottom: 0.25rem solid var(--primary-hover);
}

.footer-content {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
    /* color: var(--white); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

}

.back-to-top-container {
    margin: 4rem auto 0 auto;
    max-width: var(--page-width);
    padding: 0 1rem;
}

.back-to-top-container a {
    color: var(--text);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

/* .footer-links a {
    color: var(--text);
    text-decoration: underline;
}

.footer-links a:hover {
    text-decoration: none;
} */