footer {
    background-color: var(--primary);
    margin-top: 2rem;
    padding: 2rem;
}

.footer-content {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
    /* text-align: center; */
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem  ;

}

.back-to-top-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 4rem auto 2rem auto;
    max-width: var(--page-width);
    padding: 0 1rem;
}

.back-to-top-container a{
    color: var(--text);
}

.footer-links {
    /* margin-top: 1rem; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}
.footer-links a {
    color: var(--white);
    text-decoration: underline;
}
.footer-links a:hover {
    text-decoration: none;
}
/* @media (max-width: 568px) {
    footer {
        text-align: center;
    }
} */