footer {
    background-color: var(--primary);
    margin-top: 2rem;
    padding: 2rem;
}

.footer-content {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    color: var(--white);

}

.back-to-top-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 4rem auto 3rem auto;
    max-width: var(--page-width);
    padding: 0 1rem;
}

.back-to-top-container a{
    color: var(--text);
}

/* @media (max-width: 568px) {
    footer {
        text-align: center;
    }
} */