.skip-to-content {
    position: absolute;
    top: -10rem;
    text-align: center;

}

.skip-to-content:has(a:focus) {
    position: relative;
    top: 0;
    box-shadow: var(--focus-indicator);
    background-color: var(--white);
}

.skip-to-content a {
    box-shadow: none;
    text-decoration: none;
    color: var(--primary);
}

header {
    margin: 0;
    padding: 0;
    color: var(--text);
    border-top: 0.25rem solid var(--yellow);

}

header a:focus {
    box-shadow: var(--focus-indicator-inset);
}

.header-content {
    max-width: calc(var(--page-width) + 2rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0 2rem;
}

.site-title {
    display: flex;
    align-items: stretch;


}

.site-title a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    padding: 1rem 1rem;
}

.site-title a:hover {
    background-color: var(--background-dark);
}

.site-title:hover,
.nav-item a:hover {
    /* background-color: var(--background-dark); */

}



.main-nav ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: stretch;
}

.nav-item a {

    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2rem 1rem;

    color: var(--text);
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-item a:hover {
    background-color: var(--background-dark);

}

@media (max-width: 568px) {

    .main-nav li a {
        padding: 0.75rem 1rem;
    }

    .site-title a {
        font-size: 1.5rem;
        padding: 0.75rem 1rem;
    }


}