.icon{
    height: 1rem;
    width: auto;
    display: inline-block;
    vertical-align: -0.125rem;
    /* margin-left: 0.5rem; */
    margin-right: 0.5rem;
}
.plain-link .icon{
  fill: var(--text);
}