#profile{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 2rem;
    /* justify-content: center; */
    /* margin-top: 2rem; */
}


.profile-picture{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    /* aspect-ratio: 1/1; */
    border-radius: 50%;
    border: 0.25rem solid var(--white);
    box-shadow: var(--drop-shadow);
}

/* mobile devices */
@media (max-width: 568px) {
    #profile{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .profile-picture{
        width: 8rem;
        height: 8rem;
    }
}