
.warning-section{
    background-color: var(--warning);
    border: var(--warning-dark) 0.0625rem solid;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--warning-dark);
}

.warning-section ul{
    list-style:inside;
    padding-left: 1rem;
    list-style-position: outside;
}