
.warning-section{
    background-color: var(--warning);
    border: var(--warning-dark) 0.0625rem dashed;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem 0;
    color: var(--warning-dark);

    /* box-shadow: var(--drop-shadow); */
}
.warning-section p{
    margin-top: 0;
}
.warning-section ul{
    margin-top: 0.5rem;
    list-style:inside;
    /* padding-left: 1rem; */
    /* list-style-position: inside; */
}