/* contact information is set as a list */
#contact-list {
    list-style: none;
  }
  
  #contact-list li {
    margin: 0.8rem 0;
  }
  
  .contact-link {
    color: var(--link);
    font-weight: bold;
    margin-left: 0.5rem;
  
  }
  
  .contact-link:hover,
  .contact-link:focus {
    color: var(--link-onmouse);
    border-bottom: var(--link-onmouse) solid 0.25rem;
    background-color: var(--yellow);
  }
  
  .icon {
    height: 1.25rem;
    margin-right: 0.5rem;
  }
  