.detail-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* align-items: center; */
    gap: 2rem;
}

.detail-header dt {
    float: left;
    font-weight: bold;

}

.detail-header dt::after {
    content: ":";
    margin-right: 0.5rem;
}

.detail-thumbnail-container {
    background-color: var(--white);
    padding: 2rem;
        /* border: 0.0625rem solid var(--text-light); */

}

.detail-thumbnail-container:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.detail-thumbnail {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}




.detail-score-thumbnail {
    width: 100%;
    /* aspect-ratio: 1/1; */
    /* object-fit: contain; */
    background-color: var(--white);
    padding: 1rem;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.detail-score-thumbnail:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.button-container {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 1rem;
}

@media (max-width: 568px) {
    .detail-header {
        grid-template-columns: 1fr;
    }

    .detail-thumbnail-container {
        /* margin: 0 auto;
        width: 100%;
        max-width: 20rem; */
    }


}

.specification-images img {
    width: 100%;
    max-width: 40rem;
    border: 0.0625rem solid var(--text-light);
    /* background-color: (--white); */
    /* padding: 1rem; */
    margin: 0.5rem 0;

}