.work-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: stretch;
}

/* smaller devices  */

@media (max-width: 768px) {
    .work-card-list {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .work-card-list {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}