* {
  --text: #262626;
  --text-light: #d7d7d5;
  --background: #fafaf4;
  --background-dark: #ededea;
  --white: #fcfcfc;
  --primary: #167542;
  --primary-hover: #115732;
  --yellow: #fc3;
  --blue: #238CEC;
  --red: #B20000;
  --warning: #f6f9fc;
  --warning-dark: #0062be;
  --focus-indicator: 0 0 0 0.125rem var(--white), 0 0 0 0.25rem var(--blue);
  --focus-indicator-inset: inset 0 0 0 0.125rem var(--blue), inset 0 0 0 0.25rem var(--white);
  --drop-shadow: 0 0 0.125rem #1a1a1a80;
  --page-width: 60rem;
}

@media (prefers-color-scheme: dark) {
  * {
    --text: #d7d7d5;
    --text-light: #363636;
    --background: #262626;
    --background-dark: #363636;
    --white: #262626;
    --primary: #fc3;
    --primary-hover: #e5b72e;
    --yellow: #115732;

    --blue: #51A3F0;
    --red: #FF8F8F;
    --drop-shadow: 0 0 0.125rem #ffffff80;

  }

  img {
    filter: brightness(0.9);
  }

  .client-logo {
    background-color: white;
  }
}

html {
  background-color: var(--yellow);
}

.background {
  background-color: var(--background);
  background-image: radial-gradient(var(--text-light) 0.0625rem, transparent 0);
  background-size: 1.25rem 1.25rem;
}

html,
body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--text);
  margin: 0 auto;
  line-height: 1.5;

}


main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1rem;

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



code {
  font-family: monospace;
  font-size: 0.875rem;
  background-color: var(--background);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}

section {
  outline: none;
}



h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  outline: none;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  outline: none;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.headings {
  margin: 3rem 0 1.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  line-height: 1.5;
  font-size: 1.1rem;
}

.bulleted-list {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 2rem 0;
}

.bulleted-list li {
  margin: 1rem 0;
}

.bulleted-list li::marker {
  color: var(--red);
}

.link-list li {
  line-height: 2;
}


hr {
  border: none;
  border-top: 0.125rem solid var(--text-light);
  margin: 3rem 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.1rem;

}

.paragraph {
  margin: 1rem 0;
  max-width: 40rem;
}

section {
  margin: 2rem 0;
}

a {
  font-size: 1.1rem;

}

a.plain-link {
  color: var(--text);
  text-decoration: underline;
}

a.plain-link:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  box-shadow: var(--focus-indicator);
}

.primary-button {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: var(--drop-shadow);
}

.primary-button:hover {
  background-color: var(--primary-hover);
}


.secondary-button {
  background-color: var(--white);
  color: var(--primary);
  border: 0.0625rem solid var(--primary);
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: var(--drop-shadow);
}

.secondary-button:hover {
  background-color: var(--background-dark);
}




.client-logo {
  width: 100%;
  max-width: 10rem;
  margin: 0.5rem auto;
  padding: 0.5rem;

}




@media (max-width: 568px) {}