* {
  --text: #1C1C1C;
  --text-light: #525252;
  --background: #f5f5f5;
  --background-dark: #e0e0e0;
  --white: #ffffff;
  --primary: #3D2FFC;
  --primary-hover: #241C96;
  /* --primary-light: #daddff; */
  --warning: #FFE8E8;
  --warning-dark: #B20000;
  --focus-indicator: 0 0 0 0.25rem var(--white), 0 0 0 0.5rem var(--primary);
  --focus-indicator-inset: inset 0 0 0 0.25rem var(--primary), inset 0 0 0 0.5rem var(--white);
  --drop-shadow: 0 0 1rem rgba(26, 26, 26, 0.2);
}

html,
body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  color: var(--text);
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1rem;
  line-height: 1.5;
/* scroll-behavior: smooth; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



code{
  font-family: monospace;
  font-size: 0.875rem;
  background-color: var(--background);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}

section {
  outline: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  outline: none;


}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  outline: none;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.headings {
  margin: 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  line-height: 1.5;
  font-size: 1rem;
}

.bulleted-list {
  list-style: disc;
  padding-left: 1.5rem;
}

.link-list li {
  line-height: 1.75;
}


hr {
  border: none;
  border-top: 0.0625rem solid var(--text-light);
  margin: 2rem 0;
  width: 100%;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.paragraph {
  font-size: 1rem;
  margin: 1rem 0;
  max-width: 40rem;
  line-height: 1.5;

}

section {
  margin: 2rem 0;
}

a.plain-link {
  color: var(--text);
  text-decoration: underline;
}

a.plain-link:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  box-shadow: var(--focus-indicator);
}

.primary-button {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: var(--drop-shadow);
}

.primary-button:hover {
  background-color: var(--primary-hover);
}

.secondary-button {
  background-color: var(--white);
  color: var(--primary);
  border: 0.0625rem solid var(--primary);
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: var(--drop-shadow);
}

.secondary-button:hover {
  background-color: var(--background);
}


details {
  max-width: 40rem;
  border-top: 0.0625rem solid var(--text-light);
}
details:last-child {
  border-bottom: 0.0625rem solid var(--text-light);
}
/* .detail-content {
  padding: 0 1rem 1rem 1rem;
  margin: 0;
} */

summary {
  outline: none;
  cursor: pointer;
  padding: 1.5rem 1rem;
  position: relative;
  padding-left: 2.5rem; /* space for arrow */
  list-style-type: none;
}

summary span::after {
  content: "▼";
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text);
  transition: transform 0.2s;
}

details[open] summary span::after {
  content: "▲";
}

details:has(summary:hover) {
  background-color: var(--background-dark);
}

details section {
  margin : 0 1rem;
  padding-bottom: 1rem;
}

summary:focus {
  box-shadow: var(--focus-indicator-inset);
}

.client-logo{
    width: 100%;
    max-width: 10rem;
    margin: 0.5rem auto;
}


/* a:has(.image-link) {
  outline: none;
  box-shadow: none;

}
a:has(.image-link):hover .image-link {
  filter: brightness(0.9);
}
a:has(.image-link):focus .image-link {
  outline: none;
  box-shadow: var(--focus-indicator);
} */

@media (max-width: 568px) {

  html,
  body {
    padding: 0 0.5rem;
  }

}